* {
  box-sizing: border-box; }

body, html {
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Varela Round', sans-serif; }
  body .container, html .container {
    width: 100%; }

.header {
  width: 100%;
  background-image: url("./images/serverRoom.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }
  .header .headerCover {
    width: 100%;
    height: 65%;
    z-index: 10;
    color: #FDDD62;
    text-shadow: 2px 2px #444;
    padding-top: 30px; }
    .header .headerCover h1 {
      font-size: 3em; }
    .header .headerCover p {
      font-style: italic;
      font-size: 1.5em; }
    @media screen and (max-width: 600px) {
      .header .headerCover h1 {
        font-size: 2.2em; }
      .header .headerCover p {
        font-style: italic;
        font-size: 1em; } }
  .header .notesContainer {
    background: rgba(175, 175, 175, 0.3);
    z-index: 5;
    padding: 5px;
    margin: 0;
    height: 35%;
    color: #fff; }
    .header .notesContainer h3 {
      margin: 1px;
      padding-top: 10px; }
    .header .notesContainer p {
      margin: 1px;
      font-size: 14px;
      padding-bottom: 1px; }
  @media screen and (max-width: 500px) {
    .header .notesContainer {
      padding: 2px; }
      .header .notesContainer h3 {
        padding-top: 0; } }

.header, .footer {
  clear: left;
  text-align: center; }

.footer {
  color: white;
  background: rgba(150, 150, 150, 0.7);
  padding: 1em; }

.mainBody {
  background-image: url("./images/bitcoinBack.png");
  background-size: cover; }

.defaultButton {
  margin: 0 auto;
  width: 25%;
  padding: 8px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: white;
  color: #f82525; }

.avgCapacity {
  text-align: center;
  width: 65%;
  margin: 10px auto;
  border: 4px solid #f3f3f3;
  border-radius: 12px;
  padding: 15px;
  background-color: rgba(50, 50, 50, 0.9); }
  .avgCapacity h2 {
    color: #FB7E37;
    text-shadow: 1px 1px #f3f3f3; }
  .avgCapacity .capPer {
    color: #FB7E37; }

@media screen and (max-width: 525px) {
  .avgCapacity {
    width: 90%; }

  .defaultButton {
    width: 50%; } }
.valuesContainer {
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto; }
  .valuesContainer .valueBox {
    width: 100%;
    margin-bottom: 15px;
    border: 4px solid #f3f3f3;
    border-radius: 12px;
    padding: 15px 0 15px 0;
    background-color: rgba(50, 50, 50, 0.9); }
    .valuesContainer .valueBox .valTitle {
      margin: 0;
      color: #FB7E37;
      text-shadow: 1px 1px #f3f3f3; }
    .valuesContainer .valueBox .valUnits {
      margin: 4px;
      color: #f3f3f3; }
    .valuesContainer .valueBox input {
      margin: 4px; }
    .valuesContainer .valueBox .rangeBars {
      color: blue; }
    .valuesContainer .valueBox .valInput {
      text-align: center;
      border: none;
      background-color: rgba(50, 50, 50, 0.9);
      color: #FB7E37; }
  @media screen and (min-width: 525px) {
    .valuesContainer .valueBox {
      width: 45%; } }
  @media screen and (min-width: 800px) {
    .valuesContainer .valueBox {
      width: 28%; } }

.extrasContainer {
  width: 100%;
  margin: 0;
  padding: 10px;
  background: #f3f3f3; }
  .extrasContainer .extraHR {
    width: 50%; }

a {
  text-decoration: none;
  color: #FB7E37;
  font-weight: bold; }

a:visited {
  color: lightblue;
  font-weight: bold; }

article {
  margin-left: 170px;
  padding: 1em;
  overflow: hidden;
  min-width: 15%; }

/*# sourceMappingURL=main.css.map */
